.col{
    background-color: #F5EEDD;
    margin-right: 10px;
   
}
.btn-outline-primary {
    background-color: #7AE2CF !important;
    color: white !important; 
    border-color: #7AE2CF !important;
}

.btn-outline-primary:hover {
    background-color: #077A7D !important;
    border-color: #077A7D !important;
}
